<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .card {
    border-radius: 4px;
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  .signUpCard {
    border: 1px solid #0da2ff;
    background-color: #e8ffff;
  }

  .signUpCard:hover {
    background-color: #d9f1ff;
    border: 1px solid #009dff;
  }

  .logInCard {
    border: 1px solid #48c9b0;
    background-color: #e8f8f5;
  }

  .logInCard:hover {
    border: 1px solid #31c3a6;
    background-color: #d1f2eb;
  }

</style>

<div class="content" role="main">

  <div class="card signUpCard">
    <h2>Sign Up</h2>
  </div>

  <div class="card logInCard">
    <h2>Log In</h2>
  </div>

</div>

<router-outlet></router-outlet>